* {
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2 {
    color: #2e7d32 ;
}
details {
    border: 1px #a5d6a7 solid;
    background-color: #c8e6c9;
    padding: 10px;
    border-radius: 10px;
    margin-top: 1.5cm;
    margin-bottom: 1.5cm;
}
summary {
    font-weight: bold;
    cursor: pointer;
}
label input {
    border: solid #8bc34a 1px;
    border-radius: 5px;
    height: 1cm;
    width: 17cm;
    display: block;
}
#a {
    width: 13cm;
}
textarea {
    border: #8bc34a solid 1px;
    border-radius: 5px;
    font-size:medium;
    display: block;
    margin-top: 0.5cm;

}
#Enviar {
    background-color: #2e7d32;
    border: solid #2e7d32;
    color: white;
    width: 17.3cm;
    height: 1cm;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 1.5cm;
    margin-top: 0.5cm;
    display: block;
}
table {
    border-collapse: collapse;
}
th {
    background-color: #2e7d32;
    color: white;
    padding: 10px;
}
td {
    border: solid lightgray 1px;
    padding: 10px;
    text-align: center;
}