h1 {
    text-align: center;
    position: sticky;
    top: 0;
    background-color:  #3c3c3c;
    padding: 10px;
    color: white;
    font-family: Arial;
    animation-name: cabeceraOpacidad;
    animation-timeline: scroll(root);
}
section {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    padding: 10px;
}
section > img {
    border-radius: 10px;
    width:90%;
    height:100%;
    margin-left: 5%;
}
@keyframes cabeceraOpacidad {
    from {

    }
    to {
        background-color: lightgrey;
        opacity: 0.5;
        color: black;
        font-size: medium;
    }
}